@import "../../scss/index.scss";

.left-menu {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    min-height: 100vh;
    border-right: 1px solid $border-grey;

    .logo {
        width: 50px;
        padding: 20px 0 30px 0;
    }

}
